

/* �߰� */
.page_title {
    font-weight: bold;
    color: #444;
}
.page_subtitle {
    font-size: .9rem;
}
a:hover {
    text-decoration: none;
}

.placeholderText::after {
    content: "";
    position: absolute;
    color: red;
}

.top_memberName {
    font-size: 1rem;
    position: relative;
    top: 20%;
}
.top_memberName > span {
    font-weight: bold;
}

/* 할인가 표시 */
.discountBox {
    position: relative;
    width: 100%;
}
.discountBox::before {
    position: absolute;
    content: "";
    background-color: red;
    width: 100%;
    height: 1px;
    top: 12px;
    left: 0;
}