.btn_search {
    background: url(../img/search.svg) no-repeat center center;
    height: 36px;
    width: 36px;
}

.btn_menu {
    padding: 6px;
}

.btn_menu>img {

    height: 28px;
    width: 28px;
}

.fMenu {
    font-size: 0.7rem;
}

.fMenu li {
    position: relative;
}

.fMenu li::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -12px;
    background-color: #dee2e6;
    width: 1px;
    height: 16px;
}

.carousel-size {
    height: 600px;
}
.itemImg {
    background-color: green;
    display: -webkit-inline-box;
    width: 100%;
    height: 170px;
}
.mainH {
   min-height: 48vh;
   margin-top: 226px;
}

.logoBox {
    overflow: hidden;
    height: 122px;
}
#header {
	top:0;
	z-index: 99;
}
.headerF {
    z-index: 99;
    position: fixed;
    width: 100%;
    background: white;
}
.headerFH {
    display: none;
    height: 0;
}

.gnb_bar {
	border-bottom: 2px solid #7CB342;
}

.topNav {
	font-size: .8rem;
}

.top_find > form input{
	font-size: .8rem;
	padding: 2px 8px;
}

/* �쟾泥� 硫붾돱 */
.all_menu {
    /* width: 880px; */
    border-radius: 0;
    margin-top: 9px;
}
.all_menu .btn_menu_R {
    width: 180px;
}
.all_menu .btn_menu_L {
    width: 600px;
}
.btn_menu_L_W {
    width: 140px;
    text-align: center;
    position: relative
}
.btn_menu_L_W::after {
    content: "";
    position: absolute;
    background-color: #7CB342;
    width: 80%;
    height: 8px;
    top: 32px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    opacity: .8;
}

.popupBox {
	width: 25%;
}

/* chan 브랜치 로 작성 */
/* 占쌈쏙옙 */